.gameSection {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    font-size: 3rem;
    height: 500px;
    width: 700px;
}

.gameLayout {
    background: url('/public/images/simpsonsBackground.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.questionNumber {
    font-size: 30px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Homer Simpson Revised', sans-serif;  
}

.Question {
    font-family: 'Homer Simpson Revised', sans-serif;  
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    height: 50%;
    background-color: rgba(247, 247, 179, 0.719);
    text-align: center;
}

.ulDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: rgba(235, 235, 93, 0.89)
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul li {
    font-weight: bold;
    font-family: 'Homer Simpson Revised', sans-serif;  
    font-size: 25px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 280px;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.16); 
}

ul li:hover {
    cursor: pointer;
    background-color:beige;
}

@media (max-width: 800px) {

    .gameSection {
        width: 500px;
        height: 800px;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 585px) {
    .gameSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
    }

    ul li {
        font-size: 1.6rem;
        margin: 10px;
        padding: 15px;
        width: 350px;
        color: black
    }

    .Question {
        display: flex;
        font-size: 50px;
        background-color: rgba(247, 247, 179, 0.719);
        text-align: center;
    }

    .gameLayout {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;   
    }

    .ulDiv {
        width: 100%;
    }
}


