.title {
    font-family: 'Homer Simpson Revised', sans-serif;  
    font-size: 4rem;
    text-align: right;
    color: yellow;
}

.Layout {
    text-align: end;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease;
    background: url('/public/images/simpsonsBackground.jpg');
    background-size: cover;
}

.scoreModal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 20px;
    padding: 2rem;
    text-align:right;
    width: 800px;
    height: 500px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.356);
}


.imgHomer {
    position: absolute;
    width: 500px;
    bottom: 0;
    left: 40px;
}

@media (max-width: 800px) {
    
    .Layout {
        text-align: center;
    }

    .scoreModal {
        width: 100%;
        height: 500px;
        border-radius: 0;
    }

    .imgHomer {
        width: 430px;
    }
}

@media (max-width: 590px) {
    
    .imgHomer {
        width: 400px;
        z-index: -1;
        left: 0;
    }

    .title {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    
    .imgHomer {
        width: 370px;
        z-index: -1;
        left: 0;
    }

    .title {
        font-size: 3rem;
    }
}

